{% extends "index.html" %}
{% load static %}

{% block title %}{{achieve.headline}}{% endblock %}

{% block content %}
<div class="main-container" style="margin-top:5rem">
    <div class="post">
        <img class="thumbnill" width="40%" src="{{achieve.thumbnil.url}}">
        <div class="post-preview">
            <h1><span class="post-title">{{achieve.headline}}</span></h1>
            <h3><span class="post-title">{{achieve.subheadline}}</span></h3>
            <a href="{{achieve.pdf.url}}" target="_blank" class="btn btn-primary btn-sm"><span style="font-size:16px">Download PDF</span></a>
            <p>{{achieve.body}}</p>
        </div>
    </div>
</div>
    
{% endblock%}