{% extends "index.html" %}
{% load static %}
{% block title%}Formal_Resume{% endblock %}

{% block content %}

<div class="container-fluid" style="border:1px solid-black">
    <div class="row">
        <div class="col-md-6" style="margin:4rem auto">
            <h1><center><span class="badge badge-info" style="margin:0 15rem">Resume</span></center></h1>
            <center><button><a href="{% static 'jeyasuriya_resume.pdf' %}" target="_blank">PDF</a></button></center>
            <hr>
            
        </div>
    </div>
    <div class="row">
    
        <div class="col-md-4" style="margin-left:15rem">
            <strong>Jeyasuriya M</stong>
            <p>Tel : +91 63743 63117</p>
            
        <hr>
        </div>
        <div class="col-md-4">
            <p>Email : suriyajeyasuriya123@gmail.com</p>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-8" style="margin:0 auto">
            <h3><span class="badge badge-pill badge-primary">Profile Summary:</span></h3>
            <hr>
            <p></p>
            <p>To work for an organization that provides me the opportunity to improve my skills 
            and knowledge togrow along with the organization's objective. An enthusiastic fresher 
            with highly motivated and leadership skills having a bachelor of engineering degree in <mark>Electronics and Communication Engineering</mark>.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8" style="margin: 0 auto">
            <h3><span class="badge badge-pill badge-primary">Education Qualification:</span></h3>
            <hr>
            <table class="table" width="100%" ">
                <thead>
                    <tr>
                        <td><b>Qualification</b></td>
                        <td><b>Board/University</b></td>
                        <td><b>Institution</b></td>
                        <td><b>Year/Passing</b></td>
                        <td><b>Percentage</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>B.E /
                            Electronics and
                            Communication
                            Engineering</td>
                        <td>Anna
                            University</td>
                        <td>Sethu Institute of
                            Technology in
                            Kariapatti</td>
                        <td>2019</td>
                        <td>CGPA
                            7.02</td>
                    </tr>
                    <tr>
                        <td>XII</td>
                        <td>State Board</td>
                        <td>Rajan Matriculation
                            Higher secondary
                            School in Madurai</td>
                        <td>2015</td>
                        <td>75%</td>
                    </tr>
                    <tr>
                        <td>X</td>
                        <td>State Board </td>
                        <td>Rajan Matriculation
                            Higher secondary
                            School in Madurai</td>
                        <td>2013</td>
                        <td>90%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8" style="margin:0 auto">
            <h3><span class="badge badge-pill badge-primary">Skill Sets:</span></h3>
            <hr>
            <p></p>
            <p><mark>Programming Skills</mark><space>:<space> Python 3, Pygame, C Language.</p>
            <p><mark>Machine Leaning</mark><space>:<space> Scikit-Learn, Pandas, Numpy, Matplotlib, Tensorflow.</p>
            <p><mark>Web</mark><tab><space><space>:<space> HTML5, CSS5, Django .</p>
        </div>
    </div>
    <div class="wapper">
        <div class="row">
            <div class="col-md-8" style="margin:0 auto">
                <h3><span class="badge badge-pill badge-primary">Area of Interest:</span></h3>
                <hr>
                <p></p>
                <ul>
                    <li>Creating 2D Games using pygame</li>
                    <li>Computer Programming</li>
                    <li> Computer Networks</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8" style="margin:0 auto">
                <h3><span class="badge badge-pill badge-primary">Certification/Training Attend:</span></h3>
                <hr>
                <p></p>
                <ul>
                    <li>Training attends <mark>Tower Techniques in BSNL</mark> at Madurai</li>
                    <li>Certification as successfully completed <mark>Career Edge - Knockdown the Lockdown</mark> online course
                        offered by <mark>TCS iON</mark>
                        </li>
                    <li>Successfully completed and received a passing grade in <mark>Python 101 for Data Science</mark>, a course
                        on cognitiveclass.ai Powered by <mark>IBM Developer Skills Network</mark>.
                        </li>
                    <li>TESBO certified in <mark>ECPP[Elysium Certified Python Programming]</mark> in Elysium Academy.</li>
                    <li>Training attends <mark>Infrastructure domain in HCL Technology</mark> at Madurai.</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8" style="margin:0 auto">
                <h3><span class="badge badge-pill badge-primary">Project Undertaken:</span></h3>
                <hr>
                <p></p>
                <ul>
                    <li><mark>GUI Applications</mark> using Python Programming Language.</li>
                    <li><mark>2D games</mark> under pygame using Python Programming Language.</li>
                    <li><mark>Student Database Management System</mark> using C Language.</li>
                    <li>Project Source link https://github.com/Jeyasuriya1998 .</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin:0 auto">
                <h3><span class="badge badge-pill badge-primary">Strengths:</span></h3>
                <hr>
                <p></p>
                <ul>
                    <li>Self Motivated</li>
                    <li>Work as a team</li>
                    <li>Ability to learn new things quickly</li>
                    <li>Adaptable</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin:0 auto">
                <h3><span class="badge badge-pill badge-primary">Hobbies:</span></h3>
                <hr>
                <p></p>
                <ul>
                    <li>Bulid some games using python</li>
                    <li>Doing some Exercise.</li>
                    <li>Learn Technologies and Programming</li>
                </ul>
            </div>
    </div>
    <div class="row">
        <div class="col-md-8" style="margin: 0 auto">
            <h3><span class="badge badge-pill badge-primary">Hobbies:</span></h3>
            <hr>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="margin:0 auto">
            <p>Name<space>:<space></p>
            <p>D.O.B<space>:<space></p>
            <p>Gender<space>:<space></p>
            <p>Address<space>:<space></p>
        </div>
        <div class="col-md-6">
            <p>Jeyasuriya M</p>
            <p>13.01.1998</p>
            <p>Male</p>
            <p>85/25, Anbu nagar cross street, Manikandan nagar,
                <br> Villapuram,
                Madurai-12, Tamil Nadu.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-left:20rem">
            <h1><span class="badge badge-success">Thank you</span></h1>
        </div>
    </div>

    <div class= "row">
        <div class="col-md-6" style="margin-bottom:2rem">
            <table>
                <tr>
                    <td style="font-size:20px">Email<tab></td>
                    <td style="font-size:20px">suriyajeyasuriya123@gmail.com</td>
                </tr>
                <tr>
                    <td style="font-size:20px">Mobile<tab></td>
                    <td style="font-size:20px">+91 63743 63117</td>
                </tr>
                <tr>
                    <td style="font-size:20px">Date of Birth<tab></td>
                    <td style="font-size:20px">13/01/1998</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6" style="margin-bottom:2rem">
  
            <table>
                <tr>
                    <td style="font-size:20px">Address<tab></td>
                    <td style="font-size:20px">Madurai, Tamil Nadu, India</td>
                </tr>
                <tr>
                    <td style="font-size:20px">Gender<tab></td>
                    <td style="font-size:20px">Male</td>
                </tr>
                <tr>
                    <td style="font-size:20px">Languages<tab></td>
                    <td style="font-size:20px">English, Tamil</td>
                </tr>
            </table>
        
        </div>
    </div>

</div>
{% endblock %}