{% extends "index.html"%}
{% load static %}
{% block title %}profile{% endblock %}

{% block content %}
<div class="row"
    <div class="col-md-4" style="margin:6rem 6rem">
        <div class="card-group" style="max-width:rem">
          <div class="card">
            <img src="{% static 'suriya.jpeg'%}" class="card-img-top" width=300px alt="suriya">
            <div class="card-body">
              <h1><span class="badge badge-pill badge-info">Jeyasuirya M</span></h1>
              <header></header>
            </div>
          </div>
    </div>
    <div class="col-md-8">
        <div class="card-group" style="max-width:40rem; margin:0 auto">
            <div class="card">
                <div class="header"><h1>I'm <span class="text-warning">Jeyasuriya</span></h1></div>
                <div class="card-body">
                    <p class="font-weight-light">
                    My name is Jeyasuriya. As far as my qualification is concerned. I've completed my graduation from Sethu Institute of Technology. I'm seeking an opportunity where I can utilize my potential and my skills for the growth of the organization. I'm a keen learner who loves to work in a team. I enjoy participating in group activities. I working with like-minded and passionate people to make work interesting and fun
                    </p>
                    <p class="font-weight-lighter"><span class="font-weight-bold">Strength:</span> I'm a good-oriented person who has a "Never-give-up" attitude.   I'm a self-motivated personality who is sociable with all.
                    Thank you
                    </p>
                    <table>
                        <tr>
                            <td>Age<space></td>
                            <td>:<space>22</td>
                        </tr>
                        <tr>
                            <td>Nationality<space></td>
                            <td>:<space>Indian</td>
                        </tr>
                        <tr>
                            <td>Address<space></td>
                            <td>:<space>Madurai, Tamil Nadu, India</td>
                        </tr>
                        <tr>
                            <td>Phone<space></td>
                            <td>:<space>+91 63743 63117</td>
                        </tr>
                        <tr>
                            <td>Email<space></td>
                            <td>:<space>suriyajeyasuriya123@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Gender<space></td>
                            <td>:<space>Male</td>
                        </tr>
                    </table>
                    <p></p>
                    <p><a href="https://www.instagram.com/suriyajeyasuriya/" target="_blank"><img width="30" class="rounded-circle"src="{% static 'instagram.jpg' %}" /></a>
    					<space><a href="https://mail.google.com/mail/suriyajeyasuriya123@gmail.com" target="_blank"><img width="30" src="{% static 'gmail.png' %}" /></a>
    					<space><a href="https://www.linkedin.com/in/jeyasuriya-m-4a3a861b1/" target="_blank"><img width="30" src="{% static 'linkedin.png' %}" /></a>
     					<space><a href="https://github.com/Jeyasuriya1998" target="_blank"><img width="40" src="{% static 'github.png' %}" /></a>
     					<space><a href="https://twitter.com/Jeyasur61591515" target="_blank"><img width="40" class="rounded-circle" src="{% static 'twitter.png' %}" /></a>
 					</p>
 					
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-3 mb-2 bg-light text-dark">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1><span class="badge badge-warning">My Skill</span></h1>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-6">
            <h2><span class="badge badge-success" style="margin-left:10rem">Web Development</span></h2>
            <p></p>
            <h3><span class="text-danger">HTML & CSS</span></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                </div>
            </div>
            <p></p>
            <h3><span class="text-danger">Django</span></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:40%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2><span class="badge badge-success" style="margin-left:10rem">Programming</span></h2>
            <p></p>
            <h3><span class="text-danger">C Language</span></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                </div>
            </div>
            
            <p></p>
            <h3><span class="text-danger">Python</span></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:75%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                </div>
            </div>
        </div>
    </div>
    <p></p>
    <p></p>
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto">
            <h2><span class="badge badge-success" style="margin-left:10rem">Machine Learning</span></h2>
            <p></p>
            <h3><span class="text-danger">Scikit-Learn</span></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <p></p>
            <h3><span class="text-danger">Data Analysis</span></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <p></p>
            <h3><span class="text-danger">Data Visualization</span></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <p></p>
            <h3><span class="text-danger">Data Modelling</span></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}