{% extends "index.html"%}
{% load static %}

{% block title %}{{project.headline}}{% endblock %}

{% block content %}
<div class="main-container" style="margin-top:5rem">
    <div class="post">
        <img class="thumbnill" width="40%" src="{{project.thumbnil.url}}">
        <div class="post-preview">
            <h1><span class="post-title">{{project.headline}}<span></h1>
            <h3><span class="post-title">{{project.sub_headline}}</span></h3>
            <a href="{{project.link}}" target="_blank" class="btn btn-primary btn-sm">View</a>
            <p>{{project.body}}</p>
        <div>
    </div>
</div>
{% endblock %}