{% extends "index.html" %}
{% load static %}

{% block title %}Smart Resume{% endblock %}

{% block content %}

<div class="row" style="margin-top:5rem; margin-left:3rem">
    <div class="col-md-6">
        <div class="card-group">
        <div class="card">
          
            <div class="card-body">
                <h1><u><span>JEYASURIYA M</span></u></h1>
                <i><span>Enthusiastic Learner - Self Motivated - Adaptable - Work as a team</span><i>
                <br>
                <hr>
                <h3><u>Qulaifications</u></h3>
                
                <br>
                
                <h4>Bachelor's of Engineering</h4>
                <ul>
                    <li> On stream of Electronics and Communication Engineering</li>
                    <li> On the control of Anna University</li>
                    <li> Studied at Sethu Institute of Technology in Kariapatti</li>
                    <li> 2019 Passed Out</li>
                    <li> Completed with CGPA 7.02</li>
                </ul>
                
                <h4>Higher Secondary School[12th]</h4>
                <ul>
                    <li> On the control of Tamil Nadu State Board</li>
                    <li> Studied at Rajan Matriculation Higher secondary School in Madurai</li>
                    <li> 2015 Passed Out</li>
                    <li> Completed with 75%</li>
                </ul>
                
                <h4>Secondary School [10th]</h4>
                <ul>
                    <li> On the control of Tamil Nadu State Board</li>
                    <li> Studied at Rajan Matriculation Higher secondary School in Madurai</li>
                    <li> 2013 Passed Out</li>
                    <li> Completed with 90%</li>
                </ul>
                <hr></hr>
                
                <h3><u>Certification/Training Attend</u></h4>
                <ul>
                    <li> Successfully completed and received a passing grade in Python 101 for Data Science, a course on cognitiveclass.ai Powered by IBM Developer Skills Network.</li>
                    <li> Certification as successfully completed Career Edge - Knockdown the Lockdown online course offered by TCS iON</li>
                    <li> TESBO certified in ECPP[Elysium Certified Python Programming] in Elysium Academy.</li>
                    <li> Training attends Tower Techniques in BSNL at Madurai</li>
                    <li> Training attends Infrastructure domain in HCL Technology at Madurai.</li>
                </ul>
                
            </div>
        </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="card-group">
            <div class="card">
                
                <div class="card-body">
                    <h3><u>Project</u></h3>
                    
                    <ul>
                        <li>GUI Applications using Python Programming Language.</li>
                        <li>2D games under pygame using Python Programming Language.</li>
                        <li>Student Database Management System using C Language.</li>
                        <li>Project Source link https://github.com/Jeyasuriya1998 .</li>
                    </ul>
                    
                    <h2><span class="badge badge-success" style="margin-left:10rem">My Skills</span></h2>
                    <p></p>
                    
                    <h5><span class="text-danger">HTML & CSS</span></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    
                    <h5><span class="text-danger">Django</span></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:40%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        </div>
                        
                    </div>
                    
                    <h5><span class="text-danger">C Language</span></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">                            
                        </div>
                    </div>
                    
                    <h5><span class="text-danger">Python</span></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:75%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                    </div>
                    
                    <h5><span class="text-danger">Scikit-Learn</span></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    
                    <h5><span class="text-danger">Data Analysis</span></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    
                    <h5><span class="text-danger">Data Visualization</span></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    
                    <h5><span class="text-danger">Data Modelling</span></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <br>
                    </br>
                    <h2><span class="badge badge-success" style="margin-left:10rem">By Connect</span></h2>
                    <br>
                    <br>
                    <center>
                    <p><a href="https://www.instagram.com/suriyajeyasuriya/" target="_blank"><img width="30" class="rounded-circle"src="{% static 'instagram.jpg' %}" />Instagram</a>
        				<tab><a href="https://mail.google.com/mail/suriyajeyasuriya123@gmail.com" target="_blank"><img width="30" src="{% static 'gmail.png' %}" />Gmail</a>
    				</p>
    				<p><a href="https://www.linkedin.com/in/jeyasuriya-m-4a3a861b1/" target="_blank"><img width="30" src="{% static 'linkedin.png' %}" />linkedin</a>
     					<tab><a href="https://github.com/Jeyasuriya1998" target="_blank"><img width="40" src="{% static 'github.png' %}" />Github</a>
     				</p>
     				<p><a href="https://twitter.com/Jeyasur61591515" target="_blank"><img width="40" class="rounded-circle" src="{% static 'twitter.png' %}" />twitter</a>
 					</p>
 					</center>
                </div>
            </div>
        </div>
    </div>
</div>


        

{% endblock %}